.words{
		font-family: 'Open Sans', sans-serif;
	}
body {
width:300px;
}
.btn{
	display:inline;
	padding:3px;
	border: 2px solid black;
	border-radius:3px;
	margin:10px;
	}
      .gif {
        overflow: hidden;
        margin: 2px;
        border: 1px solid white;
        vertical-align: middle;
        width: 90px;
        height: 90px;
        display:inline-block;
        -webkit-animation: clickins 700ms;
        -webkit-animation-play-state: paused;
      }   
      @-webkit-keyframes clickins {
        1% {border: 1px solid red;}
        100% {border: 1px solid white;}
      }   
